<h1>Login</h1>

<form method="POST" action="/sessions">
    <label for="email">Email: </label>
    <input name="email" id="email" type="text">
    
    <br>
    
    <label for="password">Password: </label>
    <input name="password" id="password" type="password">

    <br>

    <input type="submit">

    <br><br>
    Don't have an account with us? Sign up <a href="/signup">here</a>.
</form>